@use "../../presets/" as *;
@use "../../mixins/" as *;

.form {
  margin-bottom: 100px;

  background-color: $color-primary;

  &__container {
    display: grid;

    padding-top: 30px;
    padding-bottom: 30px;

    @extend %container;
    gap: $gap;
    grid-template-columns: 1fr 1fr 1fr;
  }

  &-item__input {
    display: block;

    width: 100%;
    height: 60px;
    padding-right: 30px;
    padding-left: 30px;

    letter-spacing: 0.15em;

    color: $color-light;
    border: 2px solid rgba(255, 255, 255, 0);
    border-bottom-color: rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.05);

    font-size: 1.125rem;

    &::placeholder {
      color: $color-gray;
    }
    &:hover,
    :focus {
      border-color: rgba(255, 255, 255, 0.15);
      border-bottom-color: $color-light;
      background-color: rgba(255, 255, 255, 0.15);
    }
  }
}

.form .btn--primary {
  width: 100%;
  height: 60px;

  color: $color-light;
  border-bottom-color: rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.05);

  &:hover,
  :focus {
    border-color: $color-light;
    background-color: $color-accent;
  }
}
